body {
  
}

#gridlayout {
    width: 1800px;
    min-height: 3660px;
    display: grid;
    grid-template-rows: 75px 1fr 370px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
 
}


header{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 300px 1fr 400px 300px;
    background-color: #f7fbfe;
    
}

header nav{
grid-column: 2/3;
margin-top: 18px

}

header nav ul{

}
header nav ul li{
display: inline;
list-style: none;
margin-left: 10px;

}
header nav ul li a{
text-decoration: none;
color: black;
font-weight: bold;
font-size: 14pt;
}

header #searchbar{
    margin-left: 150px;
    margin-top: 33px;
    grid-column: 3/4;
}
header #searchbar input{
    border: none;
    background-color: #dddddd;
    
}
header #searchbar button{
    border: none;
    background-color: #f0f0f0;
    
}

header #login{
    grid-column: 4/-1;
    display: flex;
    width: 120px;
    height: 20px;
    margin-left: 180px;
    margin-top: 33px; 
}

header #login div{
background-color: black;
width: 20px;
height: 20px;
}

header #login div img{
    width: 100%;
}

header #login button{
    border: none;
    width: 100px;
    text-align: left;
    font-size: 12px;
}




main{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1129px 820px 1127px 1fr;

}
main #landingpage{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-auto-rows: 40% 20% 40%;
    
}
main #landingpage img{
    grid-row: 1/-1;
    grid-column: 1/-1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
main #landingpage #landingbox{
    background-color: #ffffff;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    text-align: center;
}
main #landingpage #landingbox h2{
    margin-top: 60px;
    font-weight: 100;
}
#dykkerudstyr{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 60px;
    margin-left: 60px;
}

#udstyr{
    display: flex;
    padding-top: 50px; 
    padding-bottom: 50px; 
}
#udstyr .udstyrimg{
    padding: 15px;
    padding-bottom: 50px;
    margin: 25px;
    border: 2px solid #d7d7d7;
    box-shadow: 0px 1px 2px 2px #d7d7d7;
    width: 25%;
}
#udstyr .udstyrimg figure img{
    width: 80%;
}
#udstyr .udstyrimg figure figcaption{
    text-align: center;
    font-weight: bold;
    color: #ccc;
    margin-top: 50px;
}
#udstyr .udstyrimg p{
    text-align: center;
    font-size: 12px;
}

#dyk{
    padding-top: 50px; 
    padding-bottom: 50px; 
    margin-right: 60px;
    margin-left: 60px;
}
#dyk #dykbox{
display: flex;
padding-top: 50px; 
padding-bottom: 50px;
}

#dyk #dykbox .indykbox{
width: 50%;
}
#dyk #dykbox .indykbox figure{
    padding: 50px;
    border: 2px solid #d7d7d7;
    border-bottom: none;
    box-shadow: 0px -2px 3px 0px #d7d7d7;
    
}
#dyk #dykbox .indykbox div{
    background-color: black;
    margin-left: 40px;
    margin-right: 40px;
    padding: 50px;
}
#dyk #dykbox .indykbox div h4{
    color: white;
}
#dyk #dykbox .indykbox div p{
    color: #e1f0eb;
    font-size: 12px;
}
#dyk #dykbox .indykbox figure img{
width: 100%;
}
.titlebar{
    display: flex;
}
.titelleft{
    width: 50%;
    background-color: black;
    padding-left: 50px;
}
.titelleft h3{
    color: white;
}
.titelright{
    width: 50%;
    background-color: #cccccc;
}
section h2{
    text-align: center;
    font-weight: 100;
    font-size: 25px;
}
footer{
    grid-row: 3/-1;

}